root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# For a pretty visual representation.
[*.md]
indent_size = 2
indent_style = space
