{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"useTabs": true
}
